.MuiTablePagination-displayedRows,.MuiTablePagination-selectLabel {
  font-size: .7rem !important;
  margin-right: 10px;
}
.MuiPaginationItem-outlined {
  margin: 0;
  width: 40px;
}

.MuiInputBase-root.MuiInputBase-colorPrimary.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px; 
}
.MuiPaginationItem-outlined.Mui-selected {
  color:white;
  background-color: #626e79 !important;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium{
  margin: 0;
  width: 40px;
  border-radius: 0;
}


.MuiTablePagination-select.MuiNativeSelect-select.MuiNativeSelect-standard.MuiInputBase-input {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}
ul.MuiPagination-ul li:first-child button {
  border-radius: 4px 0 0 4px  !important;
}
ul.MuiPagination-ul li:last-child button {
  border-radius: 0 4px 4px 0  !important;
}